<div style="color: #08c;">
  <strong>matt dwen</strong>
</div>
<div style="color: #666;">
  <strong>director / developer</strong>
</div>
<div style="font-size: 4px">&nbsp;</div>
<div>
  <a href="http://www.group6.co.nz/" target="_blank" title="Group 6 Technologies">
    <img src="https://raw.githubusercontent.com/group6tech/group6-branding/master/group6/png/transparent/group6_ball_transparent_text_48.png" alt="Group 6 Technologies"/>
  </a>
</div>
<div style="font-size: 4px">&nbsp;</div>
<div>
  <a href="tel:+6421486281" style="color: #08c;">
    +64 21 486 281
  </a>
  <span style="color: #999;">&nbsp;&bull;&nbsp;</span>
  <a href="http://www.group6.co.nz/" target="_blank" title="Group 6 Technologies" style="color: #08c;">
    www.group6.co.nz
  </a>
</div>
